
@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}


.site-header-name {
  font-size: 2.5rem;
}

.site-header-name:hover {
  text-decoration: none;
}

.nav-bar {
  margin-bottom: 2em;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.nav>a {
  color: #919aa1;
  text-transform: uppercase;
}

.nav>a:hover {
  text-decoration: none;
  background-color: #1a1a1a;
  color: #fff;
}

.blog-split {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

.blog-post-title:hover {
  text-decoration: none;
}

.site-pagination {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.site-footer {
  padding: 2.5rem 0;
  color: #919aa1;
  text-align: center;
  background-color: #f7f7f9;
}